
CoreAPI/WebSite/PiedrasDelTunjo/.vs/config/applicationhost.config
CoreAPI/WebSite/PiedrasDelTunjo/PiedrasDelTunjo/PiedrasDelTunjo.csproj.user
CoreAPI/WebSite/PiedrasDelTunjo/PiedrasDelTunjo/obj/Debug/PiedrasDelTunjo.csprojAssemblyReference.cache
CoreAPI/WebSite/PiedrasDelTunjo/PiedrasDelTunjo/obj/Debug/PiedrasDelTunjo.csproj.CoreCompileInputs.cache
CoreAPI/WebSite/PiedrasDelTunjo/.vs/PiedrasDelTunjo/v15/Server/sqlite3/storage.ide-wal
CoreAPI/WebSite/PiedrasDelTunjo/.vs/PiedrasDelTunjo/v15/Server/sqlite3/storage.ide-shm
CoreAPI/WebSite/PiedrasDelTunjo/.vs/PiedrasDelTunjo/v15/Server/sqlite3/storage.ide
CoreAPI/WebSite/PiedrasDelTunjo/.vs/PiedrasDelTunjo/v15/.suo
CoreAPI/WebSite/PiedrasDelTunjo/.vs/config/applicationhost.config
*.ide-shm
*.ide-wal
*.ide
CoreAPI/WebSite/PiedrasDelTunjo/.vs/PiedrasDelTunjo/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.config
CoreAPI/WebSite/PiedrasDelTunjo/.vs/PiedrasDelTunjo/v15/.suo
*.ide-shm
*.ide-wal
*.force
*.cache
*.cache
*.cache
*.dll
*.pdb
*.cache
*.txt
*.txt
*.config
*.ide-shm
*.ide-wal
*.dll
