
<!--<ejs-calendar id=calendar [value]='value' [min]='minDate' [max]='maxDate'></ejs-calendar>-->
<div class="row-inner row-level-1"><div class="row clearfix"><div class="col-lg-6 col-md-1 col-sm-6 col-xs-12"><div class="col-inner texto-home" style=" padding:20px"><div class="widget-html"><div class="pts-widget" id="wid-key_1564087875859"><div class="widget-html block block-borderbox"><div class="widget-inner block_content"><h2 style="text-align: center;"><span style="color: #2445a2;">Calendario</span></h2><p style="text-align: justify; margin-top: 20px; padding: 10px 30px 0px 30px;"><span>
	
		<div align="center">
		<ejs-calendar id=calendar [value]='value' [min]='minDate' [max]='maxDate'></ejs-calendar>	
		</div>
		
	<
	
</span></p></div></div></div></div></div></div>

<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12" style=" padding:20px" >
	<h2 style="text-align: center;"><span style="color: #2445a2;">Eventos</span></h2>

  
	<div align="center" >
		 <div class="card" style="width: 30rem;">
  <img src="http://piedrasdeltunjo.tk//eventos/obtenerImagen/?nombre=evento1.jpg"class="card-img-top" alt="img">

  <div class="card-body">

    <h5 class="card-title" >evento 1<!--{{Eventos}}--></h5>
    <p class="card-text" ><!--{{descripcion}}-->decripcion evento</p>
 
  </div>
</div>

	</div>

	</div></div></div>

<app-componentex></app-componentex>

  