<div class="row-inner row-level-1"><div class="row clearfix"><div class="col-lg-6 col-md-4 col-sm-6 col-xs-12"><div class="col-inner texto-home" style=" padding:50px"><div class="widget-html"><div class="pts-widget" id="wid-key_1564087875859"><div class="widget-html block block-borderbox"><div class="widget-inner block_content"><h2 style="text-align: center;"><span style="color: #2445a2;">Reseña historica</span></h2><p style="text-align: justify; margin-top: 20px; padding: 10px 30px 0px 30px;"><span>Adquirido por el Ministerio de la Cultura en 1945 y declarado parque arqueológico en 1946. Fue entregado a la Corporación Autónoma Regional -CAR- en 1988 para su administración y manejo. A partir del 2006 el Ministerio de Cultura delegó al ICANH la supervisión del comodato del parque a cargo de la CAR.

Facatativá o Totacativá, como fue llamada originalmente, es una región de gran relevancia para el estudio de las culturas del pasado. En este municipio se encuentran abrigos rocosos con un sinnúmero de pinturas rupestres que conforman un importante patrimonio arqueológico.

Esta importancia histórica y patrimonial fue reconocida en la década de los treinta cuando se constituyó el Parque Arqueológico de Facatativá, como el primer intento del Estado por adquirir predios con patrimonio arqueológico para su protección, investigación y disfrute. Es el único parque arqueológico ubicado en un contexto urbano y uno de los principales parques naturales cercanos a la ciudad de Bogotá.

Infortunadamente, por más de 70 años ha sido explotado como lugar de recreación activa, impactando negativamente el medioambiente y el patrimonio arqueológico del parque. Por está razón, para su recuperación es necesario transformarlo en un lugar donde lo prioritario sea la protección del patrimonio arqueológico del parque, su divulgación y protección.</span></p></div></div></div></div></div></div>

<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12" style=" padding:50px">
	<h2 style="text-align: center;"><span style="color: #2445a2;">Noticias</span></h2>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img src="assets/imagenes/8.jpg" class="d-block w-100" alt="First slide" >
      <div class="carousel-caption d-none d-md-block" >
        <h5>Noticia 1</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/imagenes/7.jpg" class="d-block w-100" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Noticia 2</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/imagenes/9.jpg" class="d-block w-100" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Noticia 3</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	</div></div></div>

<!--<div class="col-inner videoparque" style=""><div class="widget-videocode"><div class="pts-widget" id="wid-key_1564519050209"><div class="widget block widget-video "><h4 class="widget-heading title_block"> .</h4><div class="widget-inner block_content"> <iframe src="//www.youtube.com/embed/gNwAZpHREEc" style="width:90%;height:300px;" allowfullscreen="true"></iframe></div></div></div></div></div>-->
