<app-cabecero-administrador></app-cabecero-administrador>
<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
           Administrador
        </h1>
      </div>
    </div>
  </div>
</header>



<br><br>
<br><br>

<div class="container">
      <div class="row">
      
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/usuario.jpg" class="card-img-top" width="100" height="200" >
      <!--class="d-block w-50"-->
      <div class="card-body">
        <h5 class="card-title">Gestion de Usuarios</h5>
        <p class="card-text">En este modulo se puede crear, eliminar,editar usuarios , tambien ver los usuarios existentes</p>
         <a href="/iniciou" class="btn btn-primary">Ir al modulo</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/suscripciones.png" class="card-img-top" width="100" height="200">
      <div class="card-body">
        <h5 class="card-title">Gestion de subscripciones</h5>
        <p class="card-text">En este modulo se puede crear, eliminar,editar subscripciones , tambien ver las subscripciones existentes.</p>
         <a href="/" class="btn btn-primary">Ir al modulo</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/7.jpg" class="card-img-top" width="100" height="200">
      <div class="card-body">
        <h5 class="card-title">Gestion de Pictogramas</h5>
        <p class="card-text">En este modulo se puede crear, eliminar,editar pictogramas , tambien ver los pictogramas existentes.</p>
         <a href="/" class="btn btn-primary">Ir al modulo</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/qr.png" class="card-img-top" width="100" height="200">
      <div class="card-body">
        <h5 class="card-title">Gestion de Qr</h5>
        <p class="card-text">En este modulo se puede crear, eliminar,editar QR , tambien ver los Qr existentes.</p>
         <a href="/" class="btn btn-primary">Ir al modulo</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/4.jpg" class="card-img-top" width="100" height="200">
      <div class="card-body">
        <h5 class="card-title">Gestion de Eventos</h5>
        <p class="card-text">En este modulo se puede crear, eliminar,editar eventos , tambien ver los eventos existentes.</p>
         <a href="/inicioeventos" class="btn btn-primary">Ir al modulo</a>
      </div>
    </div>
  </div>
    <div class="col mb-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/pregunta.jpg" class="card-img-top" width="100" height="200">
      <div class="card-body">
        <h5 class="card-title">Gestion de Preguntas Frecuentes</h5>
        <p class="card-text">En este modulo se puede crear, eliminar,editar Preguntas Frecuentes , tambien ver las Preguntas Frecuentes existentes.</p>
         <a href="/inicioaPf" class="btn btn-primary">Ir al modulo</a>
      </div>
    </div>
  </div>
    <div class="col mb-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/cabana.jpg" class="card-img-top" width="100" height="200">
      <div class="card-body">
        <h5 class="card-title">Gestion de Cabañas</h5>
        <p class="card-text">En este modulo se puede crear, eliminar,editar cabañas , tambien ver las Cabañas existentes.  </p>
         <a href="/" class="btn btn-primary">Ir al modulo</a>
      </div>
    </div>
  </div>
    <div class="col mb-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/1.jpg" class="card-img-top" width="100" height="200">
      <div class="card-body">
        <h5 class="card-title">Gestion de Puntos de interes</h5>
        <p class="card-text">En este modulo se puede crear, eliminar,editar Puntos de interes , tambien ver los Puntos de interes existentes.</p>
         <a href="/iniciopi" class="btn btn-primary">Ir al modulo</a>
      </div>
    </div>
  </div>
    <!--<div class="col mb-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/suscripciones.png" class="card-img-top" width="100" height="200">
      <div class="card-body">
        <h5 class="card-title">Gestion de Usuarios</h5>
        <p class="card-text">En este modulo se puede crear, eliminar,editar subscripciones , tambien ver las subscripciones existentes.</p>
         <a href="#" class="btn btn-primary">Ir al modulo</a>
      </div>
    </div>
  </div>-->

</div>


</div>

</div>


