<app-cabecero-administrador></app-cabecero-administrador>
<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
           Editar Usuario
        </h1>
      </div>
    </div>
  </div>
</header>

  

    <form (ngSubmit)="ObtenerUsuario()" [formGroup]="ActualizarU">
     
         <div>
       <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4>Escriba el id del usuario a editar</h4>
                 <input type="text"  formControlName="textfiltro">
     
      <button class="btn btn-primary" type="submit" >Buscar Usuario</button>
      <br><br>
             
            <li>
              <div>
                <label > Nombre</label>
              </div>
                  
                  
                   
               <input type="text" [value]="nombre" formControlName="textn" class="col-md-10 mx-auto" >
          
                <br><br>
              <!--Nombre <input type="text" formControlName="textn">-->
                <div>
                   <label> Apellido</label>
                </div>
             
              <input type="text"  [value]="apellido"  formControlName="texta" class="col-md-10 mx-auto" >
              <br><br>
              <div>
                   <label> TipoDocumento</label>
                </div>
              <select id="inputState" [value]="tipoDocumento" formControlName="textTd" class="col-md-10 mx-auto"  >
        <option selected>CC</option>
        <option>CE</option>
        <option>TI</option>
      </select>
      <br><br>

              <div>
                   <label> NumeroDocumento</label>
                </div>
              <input type="text"  [value]="numeroDocumento" formControlName="textNd" class="col-md-10 mx-auto" >
                <br><br>
              <div>
                   <label> LugarExpedicion</label>
                </div>
              <input type="text" [value]="lugarExpedicion" formControlName="textLe" class="col-md-10 mx-auto" >
                <br><br>
               <div>
                   <label> Correo Electronico</label>
                </div>
              <input type="text" [value]="correoElectronico" formControlName="textCe" class="col-md-10 mx-auto" >
                <br><br>
                <div> <label>clave</label></div>
     
              <input type="text" [value]="clave" formControlName="textc" class="col-md-10 mx-auto" >
                <br><br>
               <div>
                   <label>Icono url</label>
                </div>
              <input type="text"  [value]="icono_url" formControlName="textIu" class="col-md-10 mx-auto" >
                <br><br>
             <div>
                   <label> Verificacion cuenta</label>
                </div>
              <input type="text" [value]="verificacionCuenta"  formControlName="textVc" class="col-md-10 mx-auto" >
                <br><br>
               <div>
                   <label> Estado cuenta</label>
                </div>
              <input type="text"  [value]="estadoCuenta" formControlName="textEc" class="col-md-10 mx-auto" >
                <br><br>
               <div>
                   <label> RolId</label>
                </div>
              <input type="text" [value]="rolId" formControlName="textRi" class="col-md-10 mx-auto" >
                <br><br>
               <div>
                   <label> Rol Nombre</label>
                </div>
              <input type="text" [value]="rolNombre" formControlName="textRn" class="col-md-10 mx-auto" >
                <br><br>
               <div>
                   <label> imagen_documento</label>
                </div>
              <input type="text" [value]="imagen_documento" formControlName="textId" class="col-md-10 mx-auto" >
                <br><br>
               <div>
                   <label> Token</label>
                </div>      
              <input type="text" [value]="token" formControlName="textT" class="col-md-10 mx-auto" >
              
              
             
              

              <br><br>
            </li>
            <br>
            <!--<button type="submit" >Insertar Usuario</button>-->
            <!--<input type="submit" value="Agregar" class="btn btn-primary btn-block">-->
              <button   class="btn btn-primary"(click)="ActualizarUsuario()">Actualizar</button>
      
      

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


     
   
    <br>

    
      </form>