<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
         <!-- <i class="fas fa-user"></i>--> Contactanos
        </h1>
      </div>
    </div>
  </div>
</header>
<div class="row-inner row-level-1"><div class="row clearfix"><div class="col-lg-6 col-md-4 col-sm-6 col-xs-12"><div class="col-inner texto-home" style=" padding:50px"><div class="widget-html"><div class="pts-widget" id="wid-key_1564087875859"><div class="widget-html block block-borderbox"><div class="widget-inner block_content"><h2 style="text-align: center;"><span style="color: #2445a2;"></span></h2><p style="text-align: justify; margin-top: 20px; padding: 10px 30px 0px 30px;"><span>
	
<h3 style="text-align: center;margin-top: 35px;color: #365384;">Ubicacion</h3><hr style="border-top: 2px solid #c2111a; width: 10%; margin-top: 0px; margin-bottom: 0px;"><p style="text-align: center;margin-top: 40px; margin-bottom: 0px;color: #000; font-size: 18px;">Calle 5 # 12A - 10</p><p style="text-align: center; margin: 0 0 0px;color: #000; font-size: 18px;">Facatativa- cundinamarca - Colombia</p><p style="text-align: center; margin: 0 0 0px;color: #000; font-size: 18px;">Teléfono: 315 670 25 07</p><p style="text-align: center; margin: 0 0 50px;color: #000; font-size: 18px;">Email: oficina.turismo@alcaldiafacatativa.gov.co</p>
</span></p></div></div></div></div></div></div>

<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12" style=" padding:50px">
	<h2 style="text-align: center;"><span style="color: #2445a2;"></span></h2>
<h3 style="text-align: center;margin-top: 35px;color: #365384;">Tarifas</h3><hr style="border-top: 2px solid #c2111a; width: 10%; margin-top: 0px; margin-bottom: 0px;"><p style="text-align: center;margin-top: 40px; margin-bottom: 0px;color: #000; font-size: 18px;">Adultos $ 4.800</p><p style="text-align: center; margin: 0 0 0px;color: #000; font-size: 18px;">Nacidos en Facatativá $ 1.800 (debe presentarse documento de identidad, nacido o expedido en el municipio).</p><p style="text-align: center; margin: 0 0 0px;color: #000; font-size: 18px;">Niños de los 5 a los 10 años $1.800</p><p style="text-align: center; margin: 0 0 0px;color: #000; font-size: 18px;">Menores de 5 años y mayores de 65 años, exentos de pago.</p>
<p style="text-align: center; margin: 0 0 50px;color: #000; font-size: 18px;">Personas en condición de discapacidad demostrable, exentos de pago.</p>
	</div></div></div>
