<app-cabecero-administrador></app-cabecero-administrador>

<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
           Editar evento
        </h1>
      </div>
    </div>
  </div>
</header>


  <form (ngSubmit)="ObtenerUsuario()" [formGroup]="ActualizarU">
     
         <div>
       <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4>Escriba el id del usuario a editar</h4>
                 <input type="text"  formControlName="textfiltro">
     
      <button class="btn btn-primary" type="submit" >Buscar Evento</button>
      <br><br>
             
            <li>
              <div>
                <label > Nombre</label>
              </div>
                  
                  
                   
               <input type="text" [value]="Nombre" formControlName="textn" class="col-md-10 mx-auto" >
          
                <br><br>
              <!--Nombre <input type="text" formControlName="textn">-->
                <div>
                   <label> FechaPublicacion</label>
                </div>
             
              <input type="text"  [value]="FechaPublicacion"  formControlName="texta" class="col-md-10 mx-auto" >
              <br><br>
              <div>
                   <label> Fecha del evento</label>
                </div>
                 <input type="text"  [value]="Fecha"  formControlName="textTd" class="col-md-10 mx-auto" >
             
              <br><br>

              <div>
                   <label> Descripcion</label>
                </div>
              <input type="text"  [value]="Descripcion" formControlName="textNd" class="col-md-10 mx-auto" >
                <br><br>
              <div>
                   <label> Calificacion</label>
                </div>
              <input type="text" [value]="Calificacion" formControlName="textLe" class="col-md-10 mx-auto" >
                <br><br>
               <div>
                   <label> Url Imagen</label>
                </div>
              <input type="text" [value]="ImagenesUrl" formControlName="textCe" class="col-md-10 mx-auto" >
                <br><br>
                <div> <label>Id de comentario</label></div>
     
              <input type="text" [value]="ComentariosId" formControlName="textc" class="col-md-10 mx-auto" >
                <br><br>
               <div>
                   <label>Lista comentarios evento</label>
                </div>
              <input type="text"  [value]="ListaComentariosEvento" formControlName="textIu" class="col-md-10 mx-auto" >
                <br><br>
          
            </li>
            <br>
            <!--<button type="submit" >Insertar Usuario</button>-->
            <!--<input type="submit" value="Agregar" class="btn btn-primary btn-block">-->
              <button   class="btn btn-primary"(click)="ActualizarUsuario()">Actualizar</button>
      
      

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


     
   
    <br>

    
      </form>