<app-cabecero></app-cabecero>
<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
           Preguntas Frecuentes
        </h1>
      </div>
    </div>
  </div>
</header>

   <div>
       <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
            	   
            	    
<div class="bd-example">
  <details>
    <summary>Pregunta 1</summary>
    <p>respuesta</p>
  </details>

  <details>
    <summary>Pregunta 2</summary>
    <p>Respuesta</p>
  </details>
   <details>
    <summary>Pregunta 3</summary>
    <p>respuesta</p>
  </details>
   <details>
    <summary>Pregunta 4</summary>
    <p>respuesta</p>
  </details>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
