
.titulo{
    color : black ;
    font-weight: bold;
    text-align : center;
}
.item-titles {
    color : black ;
    font-weight: bold;
}
.item-var{
    color : black ;
}
.button-a{
    text-align:center;
    color: red;
}